<div id="success-alert" data-dismiss="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <h3 class="alert-heading">Login Success</h3>
</div>

<div id="failed-alert" data-dismiss="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
    <h3 class="alert-heading">Login Failed</h3>
    <p>Wrong Username or Password.</p>
</div>
<div id="header">
    <h1 id="login-header">Login</h1>
    <img src="../../../favicon.ico">
</div>
<form>
    <div>
        <label for="username">Username</label>
        <input id="username" type="text">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password">
    </div>
    <button (click)="login()" type="button" class="btn btn-primary">Submit</button>
    <a routerLink="/MichaelsManagement/register" class="btn btn-link">Register</a>
</form>